html,
body {
    height: 100%;
    margin: 0;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#field,
#chat {
    box-sizing: border-box;
    width: 90%;
}

#chat {
    height: 10em;
    margin-top: 10px;
}